*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;

  background-color: #2e106d;
  cursor: default;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1260px;
    padding: 0 20px;
  }
}
